@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@100&family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Allura&display=swap");
* {
  border: 1px solid red;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  scroll-behavior: smooth;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Alegreya Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
  font-weight: bold;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Alegreya Sans", sans-serif;
  font-weight: "bold";
}

.link {
  margin: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  font-size: 18px;
  font-weight: bold;
}

.hamburger {
  -webkit-transition: 1s;
  transition: 1s;
  cursor: pointer;
  position: relative;
  padding: 20px;
}

.hamburger.open .hamburger-bar:nth-child(1) {
  -webkit-transform: rotate(-45deg) translateX(-7px);
          transform: rotate(-45deg) translateX(-7px);
}

.hamburger.open .hamburger-bar:nth-child(2) {
  -webkit-transform: translate(50px);
          transform: translate(50px);
  opacity: 0;
}

.hamburger.open .hamburger-bar:nth-child(3) {
  -webkit-transform: rotate(45deg) translateX(-6px);
          transform: rotate(45deg) translateX(-6px);
}

.hamburger .hamburger-bar {
  background-color: #333;
  width: 30px;
  height: 2px;
  margin: 3px;
  position: relative;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.legend {
  top: 45%;
  bottom: 1;
}

.mobile-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.advantage {
  color: #ffffff;
  padding: 50px;
}

.advantage p {
  font-size: 20px;
}

.advantage .writecopy {
  padding: 30px;
}

.advantage .writecopy p {
  line-height: 2;
}

@media screen and (max-width: 500px) {
  .advantage .writecopy p {
    line-height: 2;
  }
}

.advantage .why {
  font-size: 30px;
  color: #fff;
  text-align: center;
}

.advantage .graduationcap {
  font-size: 50px;
}

.advantage .line {
  width: 200px;
  height: 2px;
  background-color: lightgray;
  border-radius: 5px;
  margin: 20px 10px;
}

.advantage_icon {
  font-size: 50px;
  color: #fff;
  outline: #fff;
  margin: 10px;
}

.advantage_icon ::before,
.advantage_icon ::after {
  stroke-width: 1;
  stroke: #ffffff;
}

.advantage_lefttab, .advantage_righttab {
  padding: 10px;
}

.advantage_icon > path {
  stroke: #ffffff !important;
  stroke-width: 1;
}

.advantage-subtitle {
  font-size: 30px;
}

@media screen and (max-width: 500px) {
  .advantage {
    padding: 5px;
  }
}

.course-card:hover {
  -webkit-transform: scale(1.06);
          transform: scale(1.06);
}

.course-card:hover .course-image {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}

.course-card:hover .divider-content {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  opacity: 1;
}

.course-card {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  overflow: hidden;
  max-height: 800px;
  width: 320px;
  background-image: radial-gradient(circle, #083b6b, #092038);
  -webkit-box-shadow: 0 7px 24px 0 rgba(255, 255, 255, 0.06);
          box-shadow: 0 7px 24px 0 rgba(255, 255, 255, 0.06);
  border-radius: 24px;
  background-color: #fff;
}

.course-card .coursetitle {
  color: #ffffff;
  font-size: 35px;
  font-weight: bolder;
}

.course-card .coursetext {
  color: #ffffff;
  font-size: 22px;
  font-weight: bold;
}

@media screen and (max-width: 500px) {
  .course-card .coursetext {
    font-size: 18px;
  }
}

.course-card .courseprice,
.course-card .learnmore {
  color: #ffffff;
  font-size: 20px;
  font-weight: bold;
}

.course-card .image-wrapper {
  position: relative;
  height: 200px;
  overflow: hidden;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
}

.course-card .image-wrapper .course-image {
  display: inline-block;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  max-width: 100%;
}

.page-main-content {
  padding: 0 40px;
  background-image: radial-gradient(circle, #083b6b, #092038);
}

.course-main-content {
  padding: 20px 2vw 34px;
}

@media screen and (max-width: 500px) {
  .course-main-content {
    padding: 10px 20px;
  }
}

.course-main-content .divider {
  overflow: hidden;
  height: 2px;
  width: 100%;
  margin-top: 25px;
  margin-bottom: 25px;
  background-color: #eef0f5;
}

.course-main-content .divider-content {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: #ddbc65;
  height: 100%;
  width: 100%;
  -webkit-transform: translateX(-500px);
          transform: translateX(-500px);
  opacity: 0;
}

.trending-section-course-header {
  width: 60%;
}

.trending-section-title-text {
  margin: 50px 0;
  color: #fff;
  border-radius: 0 24px 24px 0;
}

.trending-section h2 {
  font-size: 30px;
  padding: 0 20px;
}

.footer {
  background-image: radial-gradient(circle, #083b6b, #092038);
  padding: 50px 90px;
}

.footer h2 {
  font-weight: bold;
  color: #fff;
  padding: 10px 20px;
  font-size: 22px;
}

.footer p {
  color: #ffffff;
}

@media screen and (max-width: 500px) {
  .footer {
    padding: 10px 20px;
  }
}

.footer-writeup {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer-links {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.footer-tools {
  padding: 10px 20px;
}

.footer-tools a {
  color: #ffffff;
  font-size: 20px;
}

.footer-pages {
  padding: 10px 20px;
}

.footer-pages a {
  color: #ffffff;
  font-size: 20px;
}

.footer-socials {
  padding: 10px 20px;
}

.footer-socials a {
  color: #ffffff;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer-socials li {
  padding: 0 0 20px 0;
}

.single-course-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  place-items: center;
  height: auto;
  width: 100%;
  background-color: #fff;
  font-family: sans-serif;
  color: #083b6b;
  font-size: 20px;
  overflow: hidden;
}

.single-course-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
}

.single-course-content {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
}

.single-course-content > div {
  width: 91%;
  padding: 30px;
}

.single-course-content > div h1 {
  color: #1d2b5f;
  font-size: 60px;
  font-weight: 700;
  width: 100%;
  line-height: 1.1em;
}

.single-course-content > div > p {
  width: 60%;
  font-size: 24px;
  font-weight: 600;
}

.single-course-content-two {
  width: 408px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  border-radius: 24px;
  background-color: #fff;
  -webkit-box-shadow: 0 7px 24px 0 rgba(29, 43, 95, 0.06);
          box-shadow: 0 7px 24px 0 rgba(29, 43, 95, 0.06);
  padding: 9px 0.8rem;
  height: 500px;
  margin-top: 4rem;
}

.single-course-content-two .course-header {
  font-weight: 700;
  font-size: 30px;
  color: #083b6b;
  margin: 5px 0;
}

.single-course-content-two .content {
  margin: 5px 0;
}

.course-amount {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  white-space: nowrap;
}

.course-amount .amount {
  font-size: 28px;
  font-weight: bold;
  color: #083b6b;
  display: block;
}

.discount {
  text-decoration: line-through;
}

.select-course {
  min-height: 70px;
  margin-bottom: 0px;
  padding-right: 18px;
  padding-left: 16px;
  border: 3px solid #000;
  background-color: #fff;
  color: #1d2b5f;
  font-size: 18px;
  line-height: 1em;
  width: 100%;
}

.course-cart-button {
  background-color: #083b6b;
  color: #fff;
  border-radius: 80px;
  font-size: 1.2em;
  width: 100%;
  padding: 20px 14px;
  border: unset;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: -webkit-box-shadow 350ms ease, -webkit-transform 350ms ease;
  transition: -webkit-box-shadow 350ms ease, -webkit-transform 350ms ease;
  transition: box-shadow 350ms ease, transform 350ms ease;
  transition: box-shadow 350ms ease, transform 350ms ease, -webkit-box-shadow 350ms ease, -webkit-transform 350ms ease;
  line-height: 1em;
  font-weight: 700;
  font-family: Manrope, sans-serif !important;
  text-align: center;
  margin: 20px 0;
}

.course-cart-button:hover {
  -webkit-transform: scale(1.054);
          transform: scale(1.054);
}

.course-text {
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 7rem;
  color: #1d2b5f;
  line-height: 2.5em;
}

.course-text-left {
  font-family: Manrope, sans-serif !important;
  padding: 0 1rem 0 5rem;
  font-size: 3.8rem;
  font-weight: bold;
  line-height: 1.12em;
}

.course-text-right {
  font-family: Manrope, sans-serif !important;
  width: 50%;
  color: #4b4e59;
  padding-right: 1rem;
  font-size: 1.5rem;
}

.newsletter-icons {
  height: 110px;
  width: 110px;
  padding: 2rem;
  color: #1d2b5f;
  border: 1px solid #000;
  border-radius: 50%;
}

.newsletter-icons-play {
  height: 110px;
  width: 110px;
  margin-right: 1.5rem;
  padding: 1rem;
  background-color: #eef0f5;
  color: #083b6b;
  border: 1px solid #000;
  border-radius: 50%;
}

.browse-course {
  width: 70%;
  background-color: #083b6b;
  color: #fff;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
}

.browse-title h1 {
  font-size: 2rem;
  font-family: Manrope, sans-serif !important;
  margin-bottom: 0.5rem;
}

.browse-text {
  font-family: Manrope, sans-serif !important;
  margin-bottom: 3rem;
}

.browse-text-text {
  font-family: Manrope, sans-serif !important;
}

.browse-link {
  background-color: #fff;
  font-family: Manrope, sans-serif !important;
  font-size: 1.7rem;
  padding: 1rem 1.5rem;
  border-radius: 40px;
  color: #1d2b5f;
  font-weight: bold;
}

.browse-link:hover {
  background-color: #083b6b;
  color: #fff;
  border: 2px solid #fff;
}

.newsletter-input {
  border: 1px solid #000;
  padding: 0.5rem 1rem;
  border-radius: 50px;
  color: #1d2b5f !important;
  font-weight: bold;
  font-size: 1.5rem;
  margin-left: 7rem;
  width: 70%;
  margin-bottom: 1.5rem;
}

@media screen and (max-width: 768px) {
  .course-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .course-text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .courses-card {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
  }
  .browse-course {
    width: 100%;
  }
  .course-text-right {
    margin-top: 3rem;
    width: 80%;
  }
}

@media screen and (max-width: 500px) {
  .course-card {
    display: -ms-grid !important;
    display: grid !important;
    -ms-grid-columns: 1fr !important;
        grid-template-columns: 1fr !important;
    place-items: center !important;
  }
  .course-text-left {
    font-size: 2rem;
    width: 100%;
  }
  .browse-course {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .browse-title h1 {
    font-size: 1rem;
    margin: 0.5rem 0;
  }
  .browse-link {
    font-size: 1rem;
  }
  .join-message {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .newsletter-input {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    margin-bottom: 1rem;
    font-size: 1rem;
  }
  .browse-text-text {
    font-size: 0.9rem !important;
    width: 100%;
  }
}

.testimonial-title {
  text-align: center;
  font-size: 40px;
  color: #ffffff;
}

.testimonial-image {
  border-radius: 100px;
}

.testimonial-slider-container {
  width: 70%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  height: auto;
}

@media screen and (max-width: 500px) {
  .testimonial-slider-container {
    width: 80%;
  }
}

.testimonial-slide {
  -webkit-transform: auto;
          transform: auto;
  -webkit-transition: 1s;
  transition: 1s;
  width: 100%;
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.testimonial-slide Image {
  border-radius: 50px;
}

.testimonial-slide .leftquote {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  width: 100%;
}

.testimonial-slide .rightquote {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

.testimonial-slide svg {
  fill: #ffffff;
}

.testimonial-slide .quote {
  font-size: 35px;
  width: 100%;
}

.testimonial-slide h2 {
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  padding: 20px;
  text-align: center;
}

@media screen and (max-width: 500px) {
  .testimonial-slide h2 {
    padding: 5px;
  }
}

.verification {
  -webkit-box-shadow: 1px 1px 1px 1px #d6d4d4;
          box-shadow: 1px 1px 1px 1px #d6d4d4;
  border-radius: 10px;
  width: 450px;
  text-align: center;
  color: #ffffff;
  font-weight: bolder;
}

.verification-title {
  background-color: #cdcdcd;
}

.verification .text {
  color: #083b6b;
  margin-top: 20px;
}

.verification .error {
  color: red;
  font-size: 20px;
}

.single-page-image {
  margin: 2.5rem 0;
  height: 450px;
  width: 100%;
  border-radius: 20px;
}

.about-teacher-container {
  width: 100%;
  margin: 0;
  padding: 26px;
}

.person-image {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  margin-right: 1rem;
  margin-top: 1rem;
}

.about-teacher-title {
  font-size: 30px !important;
  color: #1d2b5f !important;
  margin-bottom: 1rem;
  font-weight: bold;
  font-family: Manrope, sans-serif !important;
}

.about-teacher {
  margin-left: 1rem;
  margin-top: 1rem;
}

.single-page-ads {
  color: #1d2b5f !important;
  font-family: Manrope, sans-serif !important;
  font-weight: bold;
  margin: 4rem 0 1rem;
}

.about-link {
  font-family: Manrope, sans-serif !important;
  color: #1d2b5f !important;
  margin-top: 2rem;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.single-list li {
  text-align: center;
  list-style-type: disc;
}

.single-list-two li {
  text-align: center;
  list-style-type: decimal;
  margin-bottom: 1rem;
}

.about-teacher-title-sec {
  font-size: 2.5rem !important;
  color: #1d2b5f !important;
  font-weight: bold;
  font-family: Manrope, sans-serif !important;
  margin: 5rem 0 1rem;
}

.join-class {
  padding: 0.8rem 2rem;
  background-color: #083b6b;
  color: #eef0f5 !important;
  border-radius: 50px;
  font-family: Manrope, sans-serif !important;
  text-decoration: none !important;
  font-weight: 800;
  font-size: 1.5rem !important;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.join-class a:hover {
  -webkit-transform: scale(1.054) !important;
          transform: scale(1.054) !important;
}

.last-text {
  margin-bottom: 3rem;
}

@media screen and (max-width: 768px) {
  .single-course-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

main {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 100%;
  margin: 5rem auto;
  background-color: #083b6b;
  color: #eef0f5;
  border-radius: 0.25rem;
  padding: 2.5rem 2rem;
  display: -ms-grid;
  display: grid;
  gap: 1rem 2rem;
}

.container h3 {
  line-height: 1.2;
  font-weight: 500;
  font-size: 2rem;
  font-family: Manrope, sans-serif !important;
}

.question {
  padding: 1rem 1.5rem;
  border: 2px solid #eae6eb;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  -webkit-box-shadow: 0 7px 24px 0 rgba(86, 87, 90, 0.06);
          box-shadow: 0 7px 24px 0 rgba(86, 87, 90, 0.06);
}

.question h4 {
  text-transform: none;
  line-height: 1.5;
  font-size: 1.5rem;
}

.question p {
  margin-bottom: 0;
  margin-top: 0.5rem;
  font-family: Manrope, sans-serif !important;
}

.question header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question header h4 {
  margin-bottom: 0;
}

.btn {
  background: transparent;
  border-color: transparent;
  width: 2.3rem;
  height: 2.3rem;
  background: #eae6eb;
  font-family: Manrope, sans-serif !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  color: #b4345c;
  cursor: pointer;
  margin-left: 1rem;
  -ms-flex-item-align: center;
      align-self: center;
  min-width: 2rem;
}

.btn:hover {
  background-color: #000;
  color: #eae6eb;
}

.section {
  width: 90vw;
  margin: 0 auto;
}

.faq-container {
  text-align: center;
  padding: 5rem 0 2rem 0;
}

.faq-container p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: auto;
  width: 50%;
  text-align: left;
  font-family: Manrope, sans-serif !important;
}

.faq-container h3 {
  font-family: Manrope, sans-serif !important;
  font-size: 1rem;
  font-weight: 600;
  color: grey;
}

.faq-container h1 {
  font-weight: 600;
  font-family: Manrope, sans-serif !important;
  margin: 1rem 0;
  font-size: 2.5rem;
  color: #1d2b5f !important;
}

@media screen and (max-width: 768px) {
  .faq-container p {
    width: 80%;
  }
  .single-course-inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 100%;
    margin: auto;
  }
  .single-course-content > div h1 {
    font-size: 40px;
  }
  .single-course-content-two {
    width: 408px;
  }
  .single-course-inner {
    width: 100%;
  }
  .single-page-image {
    margin: 1.5rem 4.5rem;
    width: 100%;
    border-radius: 20px;
  }
  .about-teacher-title-sec {
    font-size: 3rem !important;
  }
  .browse-link {
    font-size: 1rem !important;
  }
}

@media screen and (max-width: 500px) {
  .faq-container h1 {
    font-size: 1.5rem;
  }
  .about-teacher-title {
    font-size: 20px !important;
  }
  .faq-container p {
    width: 100%;
    padding: 1rem;
    text-align: left;
  }
  .container h3 {
    font-size: 1.5rem;
  }
  .course-cart-button {
    border-radius: 80px;
    font-size: 1em;
    width: 60%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    margin: auto;
    padding: 20px 14px;
  }
  .course-amount {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .course-amount .amount {
    font-size: 25px;
    font-weight: bold;
    color: #083b6b;
    display: block;
  }
  .join-class {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1rem !important;
    margin: auto;
    width: 65%;
  }
  .question h4 {
    text-transform: none;
    line-height: 1.3;
    font-size: 1rem;
  }
  .single-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: auto;
    width: 100%;
  }
  .single-course-content > div > p {
    width: 100%;
    font-size: 24px;
    font-weight: 600;
  }
  .single-page-image {
    margin: 1.5rem 1px;
    width: 100%;
    border-radius: 20px;
    height: 271px;
  }
  .about-teacher-title-sec {
    font-size: 2rem !important;
    color: #1d2b5f !important;
    font-weight: bold;
    font-family: Manrope, sans-serif !important;
  }
  .single-course-content > div h1 {
    font-size: 30px;
  }
  .single-course-content-two .content {
    margin: 5px 0;
    text-align: left;
  }
  .discount {
    text-decoration: line-through;
    margin-left: 12px;
  }
}

.about-container {
  margin: 5rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  grid-auto-columns: 1fr 1fr;
}

.about__container__text {
  width: 550px;
  height: 550px;
  margin: 0 0 0 3rem;
}

.about__container__text h3 {
  margin: 2rem 0;
  color: #1d2b5f !important;
  font-weight: bold;
  font-size: 1.5rem;
  letter-spacing: 1.5px;
  font-family: Manrope, sans-serif !important;
}

.about__container__text h1 {
  font-weight: bold;
  font-family: Manrope, sans-serif !important;
  font-size: 2.5rem;
}

.about__container__text p {
  color: #000 !important;
  font-family: Manrope, sans-serif !important;
  letter-spacing: 2px;
}

.award__class {
  width: 250px;
  background-color: #edeff5;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 4rem;
  border-radius: 5px;
  margin: 4rem 1rem;
  cursor: pointer;
}

.award__class h2 {
  color: #083b6b;
  font-size: 2rem;
  font-weight: 900;
}

.award__class p {
  font-family: Manrope, sans-serif !important;
  font-size: 1.5rem;
  letter-spacing: 3px;
  color: #000;
}

.award__class:hover {
  color: #ffffff !important;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.container2 {
  margin: 2rem 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -ms-grid;
  display: grid;
  place-items: center;
  grid-auto-columns: 1fr 1fr;
}

.about__client h2 {
  text-align: center;
  color: #083b6b;
  font-family: Manrope, sans-serif !important;
  text-transform: capitalize;
  font-size: 2.5rem;
}

.banner__img {
  height: 40vh;
  width: 100%;
  position: relative;
}

.about__banner__text {
  font-family: Manrope, sans-serif !important;
  display: -ms-grid;
  display: grid;
  place-items: center;
  position: absolute;
  z-index: 10;
  color: #eef0f5;
  bottom: 23%;
  left: 30%;
}

.about__banner__text p {
  margin: 1rem 0;
  font-size: 1.2rem;
  width: 60%;
  text-align: center;
}

.about__banner__text h2 {
  font-size: 2rem;
  font-family: Manrope, sans-serif;
  padding-top: 2rem;
}

.about__btn {
  background-color: #1d2b5f;
  color: #eae6eb;
  padding: 1.2rem 2rem;
  border-radius: 5px;
  border: 1px solid #1d2b5f;
}

.about__btn:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
  -webkit-transition: 0.5s;
  transition: 0.5s;
  background-color: red;
  border: 1px solid red;
}

@media screen and (max-width: 768px) {
  .faq-container p {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: auto;
    width: 80%;
    text-align: left;
    font-family: Manrope, sans-serif !important;
  }
  .about-container {
    margin: 2rem 0;
  }
  .about__container__text {
    width: 620px;
    height: 550px;
    margin: 0 0 0 1rem;
  }
  .award__class {
    background-color: #edeff5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem;
    border-radius: 5px;
    margin: 2rem 1rem;
    cursor: pointer;
  }
  .about__banner__text {
    font-family: Manrope, sans-serif !important;
    display: -ms-grid;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 10;
    color: #eef0f5;
    bottom: 20%;
    left: 12%;
  }
}

@media screen and (max-width: 500px) {
  .about__container__text {
    width: 100%;
    text-align: left;
    margin: 0px 0 0 1rem;
  }
  .about__container__text h1 {
    font-size: 1rem;
  }
  .about__container__text h3 {
    font-size: 1.2rem;
  }
  .about__image {
    width: 300px;
    height: 300px;
  }
  .about__client h2 {
    font-size: 2rem;
  }
  .about__banner__text {
    font-family: Manrope, sans-serif !important;
    display: -ms-grid;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 10;
    color: #eef0f5;
    bottom: 18%;
    left: 3%;
  }
  .about__banner__text p {
    font-size: 1.2rem;
    width: 60%;
    text-align: center;
  }
  .award__class {
    background-color: #edeff5;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 4rem;
    border-radius: 5px;
    margin: 1rem 1rem;
    cursor: pointer;
  }
  .about__btn {
    background-color: #1d2b5f;
    color: #eae6eb;
    padding: 1rem 1rem;
    border-radius: 5px;
    border: 1px solid #1d2b5f;
    margin-bottom: 1rem;
  }
  .about-container {
    margin: 2rem 0;
  }
}

@media screen and (max-width: 400px) {
  .about__banner__text {
    font-family: Manrope, sans-serif !important;
    display: -ms-grid;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: 10;
    color: #eef0f5;
    bottom: 18%;
    left: 3%;
  }
}

.overall {
  background-color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 78%;
  height: auto;
  position: relative;
  -webkit-box-shadow: 2px 2px 2px 2px gray, -2px -2px 2px 2px gray;
          box-shadow: 2px 2px 2px 2px gray, -2px -2px 2px 2px gray;
  margin-top: 3rem;
}

.overall .first-border {
  -webkit-clip-path: polygon(0 74%, 0 0, 35% 0%, 52% 0, 52% 1%, 1% 1%, 1% 75%);
          clip-path: polygon(0 74%, 0 0, 35% 0%, 52% 0, 52% 1%, 1% 1%, 1% 75%);
  background-color: orange;
  width: 91%;
  height: 60vh;
  position: absolute;
  left: 4%;
  top: 0.1%;
  padding-top: 3rem;
}

.overall .container {
  border: 2px solid orange;
  width: 80%;
  margin: 1.5rem 0;
}

.overall .container .blue-con {
  -webkit-clip-path: polygon(0 26%, 0 0, 35% 0%, 53% 0, 53% 5%, 5% 5%, 5% 44%, 0 44%);
          clip-path: polygon(0 26%, 0 0, 35% 0%, 53% 0, 53% 5%, 5% 5%, 5% 44%, 0 44%);
  background-color: #050528;
  width: 85%;
  height: 80vh;
  position: absolute;
  top: 1.5%;
  left: 6%;
}

.overall .container .orange-con1 {
  -webkit-clip-path: polygon(0 35%, 0 0, 35% 0%, 71% 0, 71% 1%, 1% 1%, 1% 35%);
          clip-path: polygon(0 35%, 0 0, 35% 0%, 71% 0, 71% 1%, 1% 1%, 1% 35%);
  background-color: orange;
  width: 75%;
  height: 80vh;
  position: absolute;
  top: 4.5%;
  left: 11%;
}

.overall .container .orange-con2 {
  -webkit-clip-path: polygon(0 35%, 0 0, 35% 0%, 71% 0, 71% 1%, 1% 1%, 1% 35%);
          clip-path: polygon(0 35%, 0 0, 35% 0%, 71% 0, 71% 1%, 1% 1%, 1% 35%);
  background-color: orange;
  width: 70%;
  height: 80vh;
  position: absolute;
  left: 13%;
  top: 6%;
}

.overall .container .proud {
  text-align: center;
  font-size: 1rem;
  margin: 2rem 3rem;
  font-weight: 500;
}

.overall .container .logo-photo-cotainer {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 2rem 0;
}

.overall .container .logo-photo-cotainer .passport {
  height: 80px;
  width: 50px;
  border: 1px solid #a81b1b;
}

.overall .container .logo-photo-cotainer .certi {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.overall .container .logo-photo-cotainer .certi div {
  font-size: 4rem;
  font-weight: 500;
  letter-spacing: 2px;
}

.overall .container .logo-photo-cotainer .certi span {
  font-size: 1.5rem;
  letter-spacing: 5px;
  font-weight: 500;
}

.overall .container .user-name hr {
  width: 70%;
  margin: auto;
}

.overall .container .user-name span {
  font-family: "Allura", cursive;
  font-size: 3rem;
  font-weight: 500;
  text-align: center;
  margin-left: 2.3rem;
  padding: 0;
}

.overall .container .date-signature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-weight: 600;
  margin: 3rem 0.7rem 0 0.7rem;
}

.overall .container .comment {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  text-align: center;
  margin: 10px;
}

.overall .container .blue-con2 {
  -webkit-clip-path: polygon(55% 95%, 96% 95%, 96% 45%, 100% 45%, 100% 78%, 100% 100%, 85% 100%, 56% 100%);
          clip-path: polygon(55% 95%, 96% 95%, 96% 45%, 100% 45%, 100% 78%, 100% 100%, 85% 100%, 56% 100%);
  background-color: #050528;
  width: 91%;
  height: 82vh;
  bottom: 2%;
  right: 8.8%;
  position: absolute;
}

.overall .container .orange1 {
  -webkit-clip-path: polygon(53% 100%, 100% 100%, 100% 61%, 99% 62%, 99% 99%, 92% 99%, 53% 99%);
          clip-path: polygon(53% 100%, 100% 100%, 100% 61%, 99% 62%, 99% 99%, 92% 99%, 53% 99%);
  width: 91%;
  background-color: orange;
  height: 82vh;
  bottom: 6%;
  right: 12.7%;
  position: absolute;
}

.overall .container .orange2 {
  -webkit-clip-path: polygon(63% 100%, 100% 100%, 100% 63%, 99% 64%, 99% 100%, 100% 99%, 63% 99%);
          clip-path: polygon(63% 100%, 100% 100%, 100% 63%, 99% 64%, 99% 100%, 100% 99%, 63% 99%);
  width: 91%;
  background-color: orange;
  height: 82vh;
  bottom: 7%;
  right: 14%;
  position: absolute;
}

.overall .first-border2 {
  -webkit-clip-path: polygon(100% 43%, 99% 42%, 99% 99%, 69% 99%, 69% 100%, 100% 100%);
          clip-path: polygon(100% 43%, 99% 42%, 99% 99%, 69% 99%, 69% 100%, 100% 100%);
  background-color: orange;
  width: 91%;
  height: 82vh;
  bottom: 0.7%;
  right: 7%;
  position: absolute;
}

@media only screen and (max-width: 600px) {
  .overall {
    background-color: whitesmoke;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 96%;
    height: auto;
    position: relative;
    -webkit-box-shadow: 2px 2px 2px 2px gray, -2px -2px 2px 2px gray;
            box-shadow: 2px 2px 2px 2px gray, -2px -2px 2px 2px gray;
    margin-top: 3rem;
  }
  .overall .first-border {
    -webkit-clip-path: polygon(0 74%, 0 0, 35% 0%, 52% 0, 52% 1%, 1% 1%, 1% 75%);
            clip-path: polygon(0 74%, 0 0, 35% 0%, 52% 0, 52% 1%, 1% 1%, 1% 75%);
    background-color: orange;
    width: 91%;
    height: 60vh;
    position: absolute;
    left: 4%;
    top: 0.1%;
    padding-top: 3rem;
  }
  .overall .container {
    border: 2px solid orange;
    width: 80%;
    margin: 1.5rem 0;
  }
  .overall .container .blue-con {
    -webkit-clip-path: polygon(0 26%, 0 0, 35% 0%, 53% 0, 53% 5%, 5% 5%, 5% 44%, 0 44%);
            clip-path: polygon(0 26%, 0 0, 35% 0%, 53% 0, 53% 5%, 5% 5%, 5% 44%, 0 44%);
    background-color: #050528;
    width: 85%;
    height: 80vh;
    position: absolute;
    top: 1.5%;
    left: 6%;
  }
  .overall .container .orange-con1 {
    -webkit-clip-path: polygon(0 35%, 0 0, 35% 0%, 71% 0, 71% 1%, 1% 1%, 1% 35%);
            clip-path: polygon(0 35%, 0 0, 35% 0%, 71% 0, 71% 1%, 1% 1%, 1% 35%);
    background-color: orange;
    width: 75%;
    height: 80vh;
    position: absolute;
    top: 7%;
    left: 11%;
  }
  .overall .container .orange-con2 {
    -webkit-clip-path: polygon(0 35%, 0 0, 35% 0%, 71% 0, 71% 1%, 1% 1%, 1% 35%);
            clip-path: polygon(0 35%, 0 0, 35% 0%, 71% 0, 71% 1%, 1% 1%, 1% 35%);
    background-color: orange;
    width: 70%;
    height: 80vh;
    position: absolute;
    left: 13%;
    top: 8.4%;
  }
  .overall .container .proud {
    font-size: 1rem;
    margin: 2rem 2rem;
    letter-spacing: 0px;
    font-weight: 500;
  }
  .overall .container .logo-photo-cotainer {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 2rem 0;
  }
  .overall .container .logo-photo-cotainer .logo {
    max-width: 54%;
  }
  .overall .container .logo-photo-cotainer .passport {
    max-width: 50%;
  }
  .overall .container .logo-photo-cotainer .certi {
    width: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .overall .container .logo-photo-cotainer .certi div {
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: 2px;
  }
  .overall .container .logo-photo-cotainer .certi span {
    font-size: 1rem;
    letter-spacing: 2px;
    font-weight: 500;
  }
  .overall .container .user-name {
    text-align: center;
  }
  .overall .container .user-name hr {
    width: 250px;
  }
  .overall .container .user-name span {
    font-family: "Allura", cursive;
    font-size: 4rem;
    font-weight: 500;
    margin: 0;
    padding: 0;
  }
  .overall .container .date-signature {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-weight: 600;
    margin: 3rem;
  }
  .overall .container .comment {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 10px;
    margin: 10px;
  }
  .overall .container .comment p {
    width: 65%;
    font-size: 16px;
  }
  .overall .container .blue-con2 {
    -webkit-clip-path: polygon(55% 95%, 96% 95%, 96% 45%, 100% 45%, 100% 78%, 100% 100%, 85% 100%, 56% 100%);
            clip-path: polygon(55% 95%, 96% 95%, 96% 45%, 100% 45%, 100% 78%, 100% 100%, 85% 100%, 56% 100%);
    background-color: #050528;
    width: 91%;
    height: 82vh;
    bottom: 2%;
    right: 8.8%;
    position: absolute;
  }
  .overall .container .orange1 {
    -webkit-clip-path: polygon(53% 100%, 100% 100%, 100% 61%, 99% 62%, 99% 99%, 92% 99%, 53% 99%);
            clip-path: polygon(53% 100%, 100% 100%, 100% 61%, 99% 62%, 99% 99%, 92% 99%, 53% 99%);
    width: 91%;
    background-color: orange;
    height: 82vh;
    bottom: 7%;
    right: 12.7%;
    position: absolute;
  }
  .overall .container .orange2 {
    -webkit-clip-path: polygon(63% 100%, 100% 100%, 100% 63%, 99% 64%, 99% 100%, 100% 99%, 63% 99%);
            clip-path: polygon(63% 100%, 100% 100%, 100% 63%, 99% 64%, 99% 100%, 100% 99%, 63% 99%);
    width: 91%;
    background-color: orange;
    height: 82vh;
    bottom: 8.5%;
    right: 14%;
    position: absolute;
  }
  .overall .first-border2 {
    -webkit-clip-path: polygon(100% 43%, 99% 42%, 99% 99%, 69% 99%, 69% 100%, 100% 100%);
            clip-path: polygon(100% 43%, 99% 42%, 99% 99%, 69% 99%, 69% 100%, 100% 100%);
    background-color: orange;
    width: 91%;
    height: 82vh;
    bottom: 0.7%;
    right: 7%;
    position: absolute;
  }
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  background-color: #092038;
  color: white;
  font-size: 3rem;
  font-weight: 600;
  height: 400px;
}

.banner span {
  font-size: 4rem;
  font-weight: 600;
  color: #fff;
}

.contactus .wrapper-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 3rem;
}

.contactus .wrapper-contact .banner-openday {
  border-radius: 5px;
  color: black;
  width: 400px;
  height: 400px;
  margin: 0 3rem;
  font-size: 1.6rem;
}

.contactus .wrapper-contact .banner-location {
  position: relative;
  width: 400px;
  height: 400px;
}

.contactus .wrapper-contact .banner-location .frame-wrapper {
  position: absolute;
  background-color: #092038;
  width: 200px;
  height: 300px;
  top: -1.3rem;
  z-index: -5;
  right: -2rem;
}

.contactus .icon-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #348aed;
  margin: 3rem;
}

.contactus .icon-container .address-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactus .icon-container .address-con path {
  stroke: #348aed;
}

.contactus .icon-container .email-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactus .icon-container .phone-con {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.contactus .icon-container span {
  color: #000000;
}

.contactus .days {
  color: black;
}

.contactus .active {
  background-color: #092038;
  color: white;
}

.register {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 2rem 0;
}

.register .register-img {
  height: 500px;
  width: 400px;
}

.register .form {
  width: 400px;
}

.register .form input {
  margin: 1rem 0;
  padding: 0.5rem;
}

.wrapper-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-container {
  border: 1px solid #f8f0f0;
  border-radius: 4px;
  width: 330px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  overflow: hidden;
  padding: 1rem;
  margin: 1rem;
}

.card-container .video-con {
  width: 300px;
  height: 300px;
}
/*# sourceMappingURL=globals.css.map */